recommonmark==0.5.0
autoapi==1.4.0
sphinx==2.0.1
sphinx-autoapi==0.7.1
sphinx-markdown-tables==0.0.9
sphinx_rtd_theme==0.4.3
numpy==1.16.2
numpy-stl==2.10.1
scipy==1.10.0
pyserial==3.4
ruamel.yaml==0.15.92
rx==1.6.1
pyDAQmx==1.4.2
pyIGTLink==0.2.1
pyqtgraph==0.10.0
pyopengl==3.1.0
PyQt5==5.12.1
QDarkStyle==2.6.5

